{% extends 'gacha/base.tmpl' %}

{% block header %}{% endblock %}

{% block content %}
  <div class="block">
    ※ You can check the wishes you made in the past six months. Wish records are updated about one hour after the wish is made. If there is no record yet, please check again later.
  </div>

  <div class="table-container">
    <table>
      <tr>
        <th>Item Type</th>
        <th>Item Name</th>
        <th>Time Received</th>
      </tr>
      <tr>
        <td colspan="3" style="text-align: center">No record</td>
      </tr>
    </table>
  </div>
{%endblock %}